.1_2 { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e2_19 { 
	width:517px;
	height:609px;
	position:absolute;
	left:445px;
	top:161px;
}
.e1_3 { 
	background-color:rgba(130.5130711197853, 140.4625028371811, 131.50800973176956, 0.30000001192092896);
	width:517px;
	height:609px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_6 { 
	width:517px;
	height:56.092105865478516px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_4 { 
	background-color:rgba(138.00000697374344, 121.00000038743019, 103.0000014603138, 0.699999988079071);
	width:517px;
	height:56.092105865478516px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_7 { 
	background-color:rgba(219.0000021457672, 235.0000011920929, 250.00000029802322, 0.699999988079071);
	width:258.5px;
	height:56.092105865478516px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_9 { 
	background-color:rgba(215.0000023841858, 215.0000023841858, 216.00000232458115, 0.699999988079071);
	width:258.5px;
	height:56.092105865478516px;
	position:absolute;
	left:258.5px;
	top:5.6843418860808015e-14px;
}
.e2_5 { 
	background-color:rgba(82.00000271201134, 50.000000819563866, 93.00000205636024, 1);
	width:7.833333492279053px;
	height:56.092105865478516px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_18 { 
	width:461.1875px;
	height:27px;
	position:absolute;
	left:55.8125px;
	top:15px;
}
.e2_8 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:2.937499761581421px;
	height:0.890350878238678px;
	position:absolute;
	left:458.25px;
	top:12.60089111328125px;
}
.e2_10 { 
	color:rgba(0, 0, 0, 1);
	width:146.875px;
	height:26.710527420043945px;
	position:absolute;
	left:0px;
	top:0.135955810546875px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e2_11 { 
	color:rgba(0, 0, 0, 1);
	width:159px;
	height:27px;
	position:absolute;
	left:253.1875px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e2_15 { 
	width:136px;
	height:27px;
	position:absolute;
	left:10.99998950958252px;
	top:78px;
}
.e2_12 { 
	color:rgba(0, 0, 0, 1);
	width:136px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e2_26 { 
	width:369.4829406738281px;
	height:30px;
	position:absolute;
	left:458.5170593261719px;
	top:280px;
}
.e2_13 { 
	color:rgba(0, 0, 0, 1);
	width:128.93182373046875px;
	height:26.710527420043945px;
	position:absolute;
	left:0px;
	top:0.3070068359375px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e2_21 { 
	background-color:rgba(219.0000021457672, 235.0000011920929, 250.00000029802322, 1);
	width:238px;
	height:30px;
	position:absolute;
	left:131.48294067382812px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e2_27 { 
	width:414.4829406738281px;
	height:30px;
	position:absolute;
	left:458.5170593261719px;
	top:321px;
}
.e2_16 { 
	color:rgba(0, 0, 0, 1);
	width:176.76136779785156px;
	height:26.710527420043945px;
	position:absolute;
	left:0px;
	top:0.263153076171875px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e2_22 { 
	background-color:rgba(219.0000021457672, 235.0000011920929, 250.00000029802322, 1);
	width:238px;
	height:30px;
	position:absolute;
	left:176.48294067382812px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e2_23 { 
	background-color:rgba(219.0000021457672, 235.0000011920929, 250.00000029802322, 1);
	width:238px;
	height:30px;
	position:absolute;
	left:547px;
	top:362px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e2_28 { 
	width:487.4829406738281px;
	height:30px;
	position:absolute;
	left:458.5170593261719px;
	top:403px;
}
.e2_14 { 
	color:rgba(0, 0, 0, 1);
	width:249.5454559326172px;
	height:26.710527420043945px;
	position:absolute;
	left:0px;
	top:0.175445556640625px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e2_24 { 
	background-color:rgba(219.0000021457672, 235.0000011920929, 250.00000029802322, 1);
	width:238px;
	height:30px;
	position:absolute;
	left:249.48294067382812px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e2_25 { 
	width:369.4829406738281px;
	height:152.92982482910156px;
	position:absolute;
	left:458.5170593261719px;
	top:236px;
}
.e2_17 { 
	color:rgba(0, 0, 0, 1);
	width:80.0625px;
	height:26.710527420043945px;
	position:absolute;
	left:0px;
	top:126.21929931640625px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e2_20 { 
	background-color:rgba(219.0000021457672, 235.0000011920929, 250.00000029802322, 1);
	width:238px;
	height:30px;
	position:absolute;
	left:131.48294067382812px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e2_29 { 
	background-color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:199px;
	height:52px;
	position:absolute;
	left:610px;
	top:465px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e2_30 { 
	color:rgba(233.00000131130219, 233.00000131130219, 233.00000131130219, 1);
	width:113px;
	height:30px;
	position:absolute;
	left:652px;
	top:476px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e2_31 { 
	color:rgba(70.00000342726707, 68.00000354647636, 220.00000208616257, 1);
	width:113px;
	height:18px;
	position:absolute;
	left:612px;
	top:528px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
